body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#scanner-container {
    position: relative;
    width: 480px;
    height: 320px;
    border: 2px solid black;
}
canvas.drawing,
canvas.drawingBuffer {
    position: absolute;
    left: 0;
    top: 0;
}

#btn {
    margin-top: 20px;
    background-color: #670E10; 
    color: white; 
    border: none;
    padding: 10px 20px;
    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#result_container {
    font-family: "Segoe UI Semibold";
    font-size: 30px;
}
@media (max-width: 768px) {
    #scanner-container {
        width: 100%;
        height: auto; 
    }

    #btn {
        font-size: 14px; 
        padding: 8px 16px; 
    }

    #result_container {
        font-size: 24px; 
    }
}
@media (max-width: 480px) {
    #scanner-container {
        width: 100%; 
        height: auto; 
        border: none; 
    }

    #btn {
        font-size: 12px; 
        padding: 6px 12px; 
    }

    #result_container {
        font-size: 20px; 
    }
}
